<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>회원 가입</title>
</head>
<body>

<h2>회원 가입</h2>

<form action="/signup" method="post" th:object="${user}">>
  <label for="username">Username:</label>
  <input type="text" id="username" name="username" th:field="*{username}" required>

  <br>

  <label for="password">Password:</label>
  <input type="password" id="password" name="password" th:field="*{password}" required>

  <br>

  <label for="email">Email:</label>
  <input type="email" id="email" name="email" th:field="*{email}" required>

  <br>

  <label for="nickName">Nick Name:</label>
  <input type="text" id="nickName" name="nickName" th:field="*{nickName}" required>

  <br>

  <button type="submit">회원 가입</button>
</form>

</body>
</html>
